<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">App Inventario</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container text-center">
    <div>
        <h1>Lista de Marcas</h1>
        <br>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Marca</th>
                    <th scope="col">Categorías</th>
                    <th scope="col" colspan="2">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="listamarcas" type=""*/-->
                <tr th:each="marca : ${listaMarcas}">
                    <td th:text="${marca.id}"></td>
                    <td th:text="${marca.nombre}"></td>
                    <td th:text="${marca.categorias}"></td>
                    <td>
                        <a th:href="@{'/marcas/editar'+ '/'+ ${marca.id}}" class="btn btn-info">Editar</a>
                        <a th:href="@{'/marcas/eliminar'+ '/'+ ${marca.id}}" class="btn btn-danger pl-2">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>